<h1>Restaurante: {{restaurant.nombre}}</h1>
<form action="/producto/add/{{restaurant._id}}" method="post">

  <h3>Agregar Productos</h3>
  <div>
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for="description">Descripción:</label>
    <input type="text" name="description" id="description" />
  </div>
  <div>
    <label for="categories">Categoria:</label>
    <input type="text" name="categories" id="categories" />
  </div>
  <div>
    <label for="price">Valor:</label>
    <input type="number" name="price" id="price" />
  </div>
  <button>Agregar Producto</button>
</form>