<h1>Navbar</h1>

<ul>
    <li><a href="/">index</a></li>
    <li><a href="/about/{{user._id}}">Info</a></li>
    <li><a href="/editUser/{{user._id}}">Editar Cuenta</a></li>
</ul>
<h1>{{user.tipoCuenta}}: {{user.nombre}}</h1>
